<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<service
  xml:base="http://localhost:3000/exact/api/v1/3710230/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:app="http://www.w3.org/2007/app"
  xmlns="http://www.w3.org/2007/app"
>
  <workspace>
    <atom:title>Default</atom:title>
    <collection href="accountancy/InvolvedUsers">
      <atom:title>InvolvedUsers</atom:title>
    </collection>
    <collection href="accountancy/TaskTypes">
      <atom:title>TaskTypes</atom:title>
    </collection>
    <collection href="accountancy/AccountInvolvedAccounts">
      <atom:title>AccountInvolvedAccounts</atom:title>
    </collection>
    <collection href="accountancy/InvolvedUserRoles">
      <atom:title>InvolvedUserRoles</atom:title>
    </collection>
    <collection href="accountancy/SolutionLinks">
      <atom:title>SolutionLinks</atom:title>
    </collection>
    <collection href="accountancy/ExcludedDivisions">
      <atom:title>ExcludedDivisions</atom:title>
    </collection>
    <collection href="accountancy/AccountOwners">
      <atom:title>AccountOwners</atom:title>
    </collection>
    <collection href="accountancy/CollaborationRequests">
      <atom:title>CollaborationRequests</atom:title>
    </collection>
    <collection href="accountancy/StopCollaboration">
      <atom:title>StopCollaboration</atom:title>
    </collection>
    <collection href="accountancy/DeclarationUploads">
      <atom:title>DeclarationUploads</atom:title>
    </collection>
    <collection href="accountancy/DeclarationRenderData">
      <atom:title>DeclarationRenderData</atom:title>
    </collection>
    <collection href="accountancy/QuestionlistClientLists">
      <atom:title>QuestionlistClientLists</atom:title>
    </collection>
    <collection href="accountancy/QuestionlistClientSections">
      <atom:title>QuestionlistClientSections</atom:title>
    </collection>
    <collection href="accountancy/QuestionlistClientQuestions">
      <atom:title>QuestionlistClientQuestions</atom:title>
    </collection>
    <collection href="accountancy/StopCollaborationByAccountant">
      <atom:title>StopCollaborationByAccountant</atom:title>
    </collection>
    <collection href="activities/Tasks">
      <atom:title>Tasks</atom:title>
    </collection>
    <collection href="activities/Complaints">
      <atom:title>Complaints</atom:title>
    </collection>
    <collection href="activities/ServiceRequests">
      <atom:title>ServiceRequests</atom:title>
    </collection>
    <collection href="activities/CommunicationNotes">
      <atom:title>CommunicationNotes</atom:title>
    </collection>
    <collection href="activities/Events">
      <atom:title>Events</atom:title>
    </collection>
    <collection href="activities/InContextRequests">
      <atom:title>InContextRequests</atom:title>
    </collection>
    <collection href="activities/Messages">
      <atom:title>Messages</atom:title>
    </collection>
    <collection href="activities/RequestAttachments">
      <atom:title>RequestAttachments</atom:title>
    </collection>
  </workspace>
</service>
