= javascript_include_tag 'https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js'
= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css'
= javascript_pack_tag 'admin' 
.calendar-wrapper
  #calendar
