ruby:
  content = I18n.locale.to_s == 'nl' ? Page.cv.first.content_nl : Page.cv.first.content_en

- projects = capture do
  = render partial: 'project', collection: Project.for_cv, locals: { as_cv: true }

.container.cv
  == markdown content.gsub('[[projects]]', projects)


sass:
  .cv
    color: black
    background-color: white

    a
      color: #464646
      &:hover
        color: #464646
        text-decoration: underline

    .personal-info + li
      > strong
        display: inline-block
        width: 200px

    .project
      page-break-inside: avoid
      margin-bottom: 10px
      
      &:first-of-type
        margin-top: 20px