- projects = capture do
  = render partial: 'project', collection: Project.for_cv, locals: { as_cv: true }

.container.cv
  == markdown Page.cv.first.content.gsub('[[projects]]', projects)


sass:
  .cv
    color: black
    background-color: white

    a
      color: #464646
      &:hover
        color: #464646
        text-decoration: underline

    li
      > strong
        display: inline-block
        width: 200px
    .project
      margin-bottom: 10px
      
      &:first-of-type
        margin-top: 20px