//= require activeadmin_addons/all

@import "active_admin/mixins"
@import "active_admin/base"
@import "activeadmin-sortable"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "editor.md/scss/editormd"

.bootstrap
  @import 'bootstrap/bootstrap'

.upload-preview
  height: 150px

#site_title_image
  height: 50px

.index_table.index.dashboard
  td, th
    width: 16.6%