//= require activeadmin_addons/all

@import "active_admin/mixins"
@import "active_admin/base"
@import "activeadmin-sortable"
@import "font-awesome-sprockets"
@import "font-awesome"
@import "editor.md/scss/editormd"


.bootstrap
  @import 'bootstrap/bootstrap'

.upload-preview
  height: 150px

#site_title_image
  height: 50px

.admin_dashboard
  .index_table.index.dashboard
    td, th
      width: 16.6%

  h2
    .date
    .total
      float: right
      font-size: 12px
      line-height: 4


  #main_content
    .panel
      background: white
      box-shadow: inset 0px -2px 6px #ddd
      .calendar-wrapper
        @import "fullcalendar"
        #calendar
          h2
            font-size: 2em
            color: rgb(94, 100, 105)
          table
            margin-top: 0
            margin-bottom: 0
            th
              text-align: center