@import 'bootstrap/bootstrap'
@import "font-awesome-sprockets"
@import "font-awesome"
@import url('https://fonts.googleapis.com/css?family=Montserrat')

$font-color: white
$link-color: lightgrey
$link-active-color: white

html, body
  height: 100%
  padding: 0px
  margin: 0px
  background-color: black
  color: white

  ::-webkit-input-placeholder
    text-align: center  

  input
    

  a
    transition: $transition-base
    color: $link-color
    &:active, &:focus, &:hover
      color: $link-active-color
  
  nav.navbar
    background: linear-gradient(black, transparent)
    .navbar-toggler
      background: $link-color
    .row
      width: 100%
    .navbar-brand
      img 
        height: 80px

    input
      margin-top: 2rem
      padding: 0.2rem $input-padding-x
      transition: .5s ease-in-out
      opacity: 0.7
      backgroud-color: $gray
      font-family: "FontAwesome", $font-family-sans-serif
      
      &:focus, &:hover
        opacity: 1
    
    ul.navbar-nav
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      li.nav-item
        flex: 0 1 35%
        a.nav-link
          padding: 0.2em 0

  h1
    font-size: 35px
    &.big
      font-weight: bold
      font-size: 60px

  .section
    position: relative
    width: 100%
    min-height: 100%
    background-attachment: fixed
    background-size: cover
    background-position: 50% 50%
    background-repeat: no-repeat
    padding-top: 150px

    .heading
      margin-bottom: 4rem

    &#home
      background-image: asset_url('bg_home.jpg')
      display: flex
      .container
        margin-top: 25%

        
    &#contact
      background-image: asset_url('bg_contact.jpg')
      
      textarea
        min-height: 200px

      i.fa
        margin-right: 0.5rem

  .stripes
    opacity: 0.5
    pointer-events: none
    z-index: 2
    position: absolute
    height: 200% 
    width: 100% 
    // background-size: cover
    background-position: center center
    background-repeat: no-repeat

    &.stripe-one
      background-image: asset_url('bg_stripes_1.png')
    &.stripe-two
      background-image: asset_url('bg_stripes_2.png')
    &.stripe-three
      background-image: asset_url('bg_stripes_3.png')
